@inherits LayoutComponentBase
@inject ICartService CartService
@implements IDisposable
<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
@code{ 
    private string appTitle;

    protected override void OnInitialized()
    {
        CartService.CartChanged += CartChanged;
    }

    public void Dispose()
    {
        CartService.CartChanged -= CartChanged;
    }

    private void CartChanged(object sender, CartChangedEventArgs e)
    {
        InvokeAsync(() =>
        {
            StateHasChanged();
        });
    } 
}